<div class="d-flex @Class gap-@Spacing">
    <MudIconButton Href="@SiteConfig.GitHubUrl" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Size="@IconSize" aria-label="GitHub" />
    <MudIconButton Href="@SiteConfig.LinkedInUrl" Target="_blank" Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Inherit" Size="@IconSize" aria-label="LinkedIn" />
    <MudIconButton Href="@($"mailto:{SiteConfig.Email}")" Target="_blank" Icon="@Icons.Material.Filled.Email" Color="Color.Inherit" Size="@IconSize" aria-label="Email" />
    <MudIconButton Href="@SiteConfig.ResumePath" Target="_blank" Icon="@Icons.Material.Filled.Description" Color="Color.Inherit" Size="@IconSize" aria-label="Resume" />
    <MudIconButton Href="@SiteConfig.RoadmapUrl" Target="_blank" Icon="@Icons.Material.Filled.AltRoute" Color="Color.Inherit" Size="@IconSize" aria-label="Roadmap.sh" />
</div>
